---
---

$tablet: 768px;
$desktop: "(min-width: 1024px)";

@media screen and (max-width: $tablet) {
  $gallery-block-margin: 0px !important;
  .gallery_block_left{
    margin-right: $gallery-block-margin;
}
.gallery_block_right{
    margin-left: $gallery-block-margin;
}
  .section_title{
      font-size: 3em !important;
      padding-top: 1.5% !important;
  }
  .service_row_two{
      padding-top: 0 !important;
  }
  .my_picture{
    display: none;
  }
  .about_text{
    padding-top: 0 !important;
  }
}

@media screen and (max-width: 536px) {
  .main_head_text {
    font-size: 2em !important;
  }
}