---
---


//Colors

$black: #171717;
$grey: #f0f0f0;
$grey-text: #696969;

// Fonts

$heading-font-size: 3.5em;
$heading-font-family: 'Montserrat', sans-serif;

// Paddings

$gallery-block-margin: 5px;
$row-padding: 80px;

$psudo-width: 100%;

ul{
    list-style-type: none;
}
li{
    float: left;
}
h1{
    font-family: $heading-font-family;
    font-weight: 700;
}
body{
    overflow-x: hidden;
}
@keyframes block-blink {
    0%{
        bottom: 0;
        top: 0%;
        height: 0%;
    }
    25%{
        height: 100%;
        top:0;
    }
    50%{
        height: 100%;
        top:0;
    }
    80%{
        height: 0;
        top: 100%;
    }
    100%{
        height: 0;
        top: 100%; 
    }
}
@keyframes text-blink{
    0%{
        color: $grey;
    }
    10%{
        color: $black;
    }
    20%{
        color: $grey;
    }
    30%{
        color: $black;
    }
    100%{
        color: $black;
    }
}
.landing_section{
    background: $grey;
    // Slant
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 200px;
        width: $psudo-width;
        left: 50%;
        background: $grey;
        transform: rotate(-5deg)translateX(-50%)translateY(-100%);
    }
    // My Name
    .name_img{
        position: relative;
        z-index: 1;
        max-width: 100%;
    }
}
.landing_padding{
    padding: 250px 0;
    position: relative;
}
.main_head_text{
    position: absolute;
    z-index: 2;
    font-size: 4.5em;
    top: 50%;
    left: 50%;
    color: $grey;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 1;
    animation: text-blink 1.5s ease-in-out 1 forwards; 
    -moz-animation: text-blink 1.5s ease-in-out 1 forwards;
    -webkit-animation: text-blink 1.5s ease-in-out 1 forwards;
    animation-delay: 1s;
    &::before{
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background: $black;
        height: 100%;
        width: 80%;
        opacity: 1;
        transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        animation: block-blink 1 ease-in-out 1 forwards; 
        -moz-animation: block-blink 1s ease-in-out 1 forwards;
        -webkit-animation: block-blink 1s ease-in-out 1 forwards;
    }
}
.section_title{
    letter-spacing: 15px;
    font-size: $heading-font-size;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding-top: 3.5%;
    padding-bottom: 40px;
}
//Services Section
.services{
    position: relative;
    width: 100%;
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 200px;
        width: $psudo-width;
        left: 50%;
        background: white;
        transform: rotate(-5deg)translateX(-50%)translateY(-100%);
    }
    .services_wrapper{
        padding-bottom: $row-padding;
        .service_row_one{
            padding-top: 200px;
        }
        .service_row_two{
            padding-top: $row-padding;
            position: relative;
            z-index: 200;
        }
        .service_block{
            background:rgba(0,0,0,0);
            border: none;
            .service_title{
                font-family: $heading-font-family;
                font-weight: 600;
                font-size: 1.5em;
            }
            .service_description{
                padding-top: 10px;
                color: $grey-text;
            }
        }
    }
}
.work{
    background: $grey;
    
    .work_wrapper{
        padding-bottom: 80px;
    }
    .work_gallery{
        padding-top: 220px;
        position: relative;
        z-index: 199;
    }
    .gallery_block{
        width: 100%;
        // margin: 0 !important;
        height: 250px;
        overflow: hidden;
        padding: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .gallery_block_left{
        margin-right: $gallery-block-margin;
    }
    .gallery_block_right{
        margin-left: $gallery-block-margin;
    }
    .gallery_img{
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        opacity: 1;
        transform: scale(1, 1);
        transition: all 0.25s ease-in-out;
        max-width: 100%;
        &:hover{
            transform: scale(1.1,1.1);
            opacity: 0.7;
        }
    }
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 200px;
        width: $psudo-width;
        left: 50%;
        background: $grey;
        transform: rotate(-5deg)translateX(-50%)translateY(-100%);
    }
}
.hidden{
    display: none;
}
.active_modal{
    visibility: visible !important;
}
.active_custom_modal{
    transform: translate(-50%, -50%) scale(1, 1) !important;
    -webkit-transform: translate(-50%, -50%) scale(1, 1) !important;
    -moz-transform: translate(-50%, -50%) scale(1, 1) !important;
    -o-transform: translate(-50%, -50%) scale(1, 1) !important;
}
.work-modal{
    position: fixed;
    z-index: 200;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    .custom_modal{
        height: 75vh;
        width: 100%;
        position: absolute;
        z-index: 2500;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0, 0);
        -webkit-transform: translate(-50%, -50%) scale(0, 0);
        -moz-transform: translate(-50%, -50%) scale(0, 0);
        -o-transform: translate(-50%, -50%) scale(0, 0);
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        .modal_top{
            height: 70%;
            width: 100%;
            margin: 0;
            background: white;
            .modal_img_wrapper{
                overflow: hidden;
                text-align: center;
                padding: 0;
                .images{
                    padding: 0;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    float:left;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    li{
                        height: 100%;
                        width: 100%;
                    }
                    .main_img{
                        width: 100%;
                        height: 100%;
                        padding: 0;
                        position: relative;
                    }
                    .other_img{
                        position: absolute;
                        top: 0;
                        left: 100%;
                        width: 100%;
                        height: 100%;
                    }
                    .other_other_img{
                        position: absolute;
                        top: 0;
                        left: 200%;
                        width: 100%;
                        height: 100%;
                    }
                }
                .triggers{
                    position: absolute;
                    z-index: 300;
                    bottom: 0;
                    left: 50%;
                    padding: 0;
                    transform: translatex(-50%);
                    .img_nav{
                        cursor: pointer;
                        background: rgba(255, 255, 255, 0.7);
                        height: 10px;
                        width: 15px;
                        float: left;
                        border-radius: 20px;
                        margin-left: 20px;
                        transition: background 0.2s ease-in-out;

                        &:hover{
                            background: rgba(255, 255, 255, 1);
                        }
                    }
                }
            }
        }
        .modal_bottom{
            height: 30%;
            width:100%;
            margin: 0;
            background: $grey;
            display: flex;
            align-items: center;
            justify-content: center;
            .modal_text{
                color: black;
                font-size: 0.9em;
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    .under_modal{
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 100%;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
    }
}
.hide{
    transform: scale(0) !important;
}


// ABOUT SECTION

.about{
    &::after{
        content: '';
        display: block;
        position: absolute;
        height: 200px;
        width: $psudo-width;
        left: 50%;
        background: white;
        transform: rotate(-5deg)translateX(-50%)translateY(-100%);
    }
    .about_content{
        padding-top: 220px;
        padding-bottom: 80px;
        position: relative;
        z-index: 199;
        .my_picture{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .about_text{
            padding-top: 100px;
            .my_name{
                font-family: $heading-font-family;
                font-weight: 600;
                padding-bottom: 20px;
            }
            .about_desc, .connect_text{
                color: $grey-text;
                font-size: 1.1em;
                padding: 10px 0;
            }
            .link_warning{
                color: $grey-text;
                font-size: 0.7em;
            }
            .icons_row{
                padding: 10px 0;

                .icons a{
                    text-decoration: none;
    
                }
                .icons svg{
                    color: #171717;
                    width: 40px;
                    height: 40px;
                    transform: scale(1);
                    -webkit-transform: scale(1);
                    -o-transform: scale(1);
                    -moz-transform: scale(1);
                    transition: all 0.2s ease-in-out;
                    -webkit-transition: all 0.2s ease-in-out;
                    -moz-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
    
                    &:hover{
                        color: $grey-text;
                        transform: scale(0.8);
                        -webkit-transform: scale(0.8);
                        -o-transform: scale(0.8);
                        -moz-transform: scale(0.8);
                    }
                }
            }
        }
    }
}

.contact{
    background: $grey;

    .email_holder{
        padding-bottom: 80px;
    }
    .send_email{
        font-family: $heading-font-family;
        font-size: 1.2em;
        padding-top: 200px;
    }
    .email{
        color: $grey-text;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;

        &:hover{
            color: #171717;
        }
    }
}